# -------- Common --------
PROJECT_NAME=secure-mini-cloud
IMAGE_NAME=secure-mini-app
IMAGE_TAG=v2
CONTAINER_NAME=secure-mini-app
APP_PORT=8080
ENV_NAME=local
APP_VERSION=v2

# -------- AWS/Terraform (for future infra deployment) --------
AWS_REGION=ap-south-1
ECR_REPOSITORY=secure-mini-app
INFRA_DIR=infra
TF_STATE_BUCKET=
TF_STATE_DDB_TABLE=
TF_STATE_KEY=env/dev/terraform.tfstate

# Optional: set after you create EKS
EKS_CLUSTER_NAME=
EKS_NODEGROUP_NAME=
